In [89]:
import keras

In [90]:
from keras.models import Sequential
from keras.layers import Dense

In [91]:
model = Sequential()

# Prepare the df

In [92]:
import pandas as pd

In [93]:
df = pd.read_csv("insurance.csv")

In [94]:
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [95]:
df.sex = df.sex.replace({"female" : 0, "male" :1})
df.smoker = df.smoker.replace({"yes" : 0, "no" : 1})
df_y = df.charges
df_sex = df.sex
df_smoker = df.smoker
df.drop(['region', 'charges', 'sex', 'smoker'], inplace=True, axis=1)
df

      age     bmi  children
0      19  27.900         0
1      18  33.770         1
2      28  33.000         3
3      33  22.705         0
4      32  28.880         0
...   ...     ...       ...
1333   50  30.970         3
1334   18  31.920         0
1335   18  36.850         0
1336   21  25.800         0
1337   61  29.070         0

[1338 rows x 3 columns]

In [96]:
# Scale all the features, except smoker

In [97]:
from sklearn.preprocessing import StandardScaler
df = StandardScaler().fit_transform(df)
df

array([[-1.43876426, -0.45332   , -0.90861367],
       [-1.50996545,  0.5096211 , -0.07876719],
       [-0.79795355,  0.38330685,  1.58092576],
       ...,
       [-1.50996545,  1.0148781 , -0.90861367],
       [-1.29636188, -0.79781341, -0.90861367],
       [ 1.55168573, -0.26138796, -0.90861367]])

In [98]:
df_x = pd.DataFrame(data=df, columns=['age', 'bmi', 'children'])
df_x['sex'] = df_sex
df_x['smoker'] = df_smoker
df_x

           age       bmi  children  sex  smoker
0    -1.438764 -0.453320 -0.908614    0       0
1    -1.509965  0.509621 -0.078767    1       1
2    -0.797954  0.383307  1.580926    1       1
3    -0.441948 -1.305531 -0.908614    1       1
4    -0.513149 -0.292556 -0.908614    1       1
...        ...       ...       ...  ...     ...
1333  0.768473  0.050297  1.580926    1       1
1334 -1.509965  0.206139 -0.908614    0       1
1335 -1.509965  1.014878 -0.908614    0       1
1336 -1.296362 -0.797813 -0.908614    0       1
1337  1.551686 -0.261388 -0.908614    0       0

[1338 rows x 5 columns]

In [99]:
df_y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [108]:
df_x

           age       bmi  children  sex  smoker
0    -1.438764 -0.453320 -0.908614    0       0
1    -1.509965  0.509621 -0.078767    1       1
2    -0.797954  0.383307  1.580926    1       1
3    -0.441948 -1.305531 -0.908614    1       1
4    -0.513149 -0.292556 -0.908614    1       1
...        ...       ...       ...  ...     ...
1333  0.768473  0.050297  1.580926    1       1
1334 -1.509965  0.206139 -0.908614    0       1
1335 -1.509965  1.014878 -0.908614    0       1
1336 -1.296362 -0.797813 -0.908614    0       1
1337  1.551686 -0.261388 -0.908614    0       0

[1338 rows x 5 columns]

# Train the keras model

In [133]:
model.add(Dense(100, activation="relu", input_shape=(df_x.shape[1], )))
model.add(Dense(10, activation="relu"))
# model.add(Dense(100, activation="relu"))
model.add(Dense(1))

In [134]:
model.compile(optimizer="adam", loss="mean_squared_error")
model.fit(df_x, df_y, validation_split=0.2, epochs=100, verbose=2)

Epoch 1/100
34/34 - 1s - loss: 63123164.0000 - val_loss: 22269348.0000
Epoch 2/100
34/34 - 0s - loss: 20057820.0000 - val_loss: 22233030.0000
Epoch 3/100
34/34 - 0s - loss: 19700564.0000 - val_loss: 21836922.0000
Epoch 4/100
34/34 - 0s - loss: 19652452.0000 - val_loss: 21821480.0000
Epoch 5/100
34/34 - 0s - loss: 19890810.0000 - val_loss: 22357998.0000
Epoch 6/100
34/34 - 0s - loss: 19809776.0000 - val_loss: 22211162.0000
Epoch 7/100
34/34 - 0s - loss: 19592934.0000 - val_loss: 21848582.0000
Epoch 8/100
34/34 - 0s - loss: 19761892.0000 - val_loss: 21873630.0000
Epoch 9/100
34/34 - 0s - loss: 19999314.0000 - val_loss: 24062876.0000
Epoch 10/100
34/34 - 0s - loss: 20266184.0000 - val_loss: 21896304.0000
Epoch 11/100
34/34 - 0s - loss: 20000308.0000 - val_loss: 22046744.0000
Epoch 12/100
34/34 - 0s - loss: 20241256.0000 - val_loss: 22177794.0000
Epoch 13/100
34/34 - 0s - loss: 19849708.0000 - val_loss: 21972718.0000
Epoch 14/100
34/34 - 0s - loss: 20471496.0000 - val_loss: 22252076.0000
Epoch 15/100
34/34 - 0s - loss: 20973810.0000 - val_loss: 23261094.0000
Epoch 16/100
34/34 - 0s - loss: 19939416.0000 - val_loss: 23102856.0000
Epoch 17/100
34/34 - 0s - loss: 20330610.0000 - val_loss: 21895928.0000
Epoch 18/100
34/34 - 0s - loss: 20339882.0000 - val_loss: 21815848.0000
Epoch 19/100
34/34 - 0s - loss: 20184900.0000 - val_loss: 22010806.0000
Epoch 20/100
34/34 - 0s - loss: 20630914.0000 - val_loss: 34955808.0000
Epoch 21/100
34/34 - 0s - loss: 21999118.0000 - val_loss: 21863560.0000
Epoch 22/100
34/34 - 0s - loss: 20277898.0000 - val_loss: 22743012.0000
Epoch 23/100
34/34 - 0s - loss: 19893854.0000 - val_loss: 22304746.0000
Epoch 24/100
34/34 - 0s - loss: 19591178.0000 - val_loss: 22648526.0000
Epoch 25/100
34/34 - 0s - loss: 20108188.0000 - val_loss: 24002692.0000
Epoch 26/100
34/34 - 0s - loss: 21533060.0000 - val_loss: 23695810.0000
Epoch 27/100
34/34 - 0s - loss: 19786596.0000 - val_loss: 21803700.0000
Epoch 28/100
34/34 - 0s - loss: 19987282.0000 - val_loss: 21790504.0000
Epoch 29/100
34/34 - 0s - loss: 20621146.0000 - val_loss: 21845232.0000
Epoch 30/100
34/34 - 0s - loss: 23033010.0000 - val_loss: 22526346.0000
Epoch 31/100
34/34 - 0s - loss: 19786960.0000 - val_loss: 23486328.0000
Epoch 32/100
34/34 - 0s - loss: 22011336.0000 - val_loss: 22415946.0000
Epoch 33/100
34/34 - 0s - loss: 20546716.0000 - val_loss: 22203108.0000
Epoch 34/100
34/34 - 0s - loss: 21969274.0000 - val_loss: 24886322.0000
Epoch 35/100
34/34 - 0s - loss: 21933390.0000 - val_loss: 22689316.0000
Epoch 36/100
34/34 - 0s - loss: 21786100.0000 - val_loss: 21753212.0000
Epoch 37/100
34/34 - 0s - loss: 20002504.0000 - val_loss: 21751108.0000
Epoch 38/100
34/34 - 0s - loss: 21603306.0000 - val_loss: 24400842.0000
Epoch 39/100
34/34 - 0s - loss: 21951562.0000 - val_loss: 22804838.0000
Epoch 40/100
34/34 - 0s - loss: 19690138.0000 - val_loss: 23139572.0000
Epoch 41/100
34/34 - 0s - loss: 21415678.0000 - val_loss: 21986064.0000
Epoch 42/100
34/34 - 0s - loss: 19979852.0000 - val_loss: 21784354.0000
Epoch 43/100
34/34 - 0s - loss: 19682050.0000 - val_loss: 21848024.0000
Epoch 44/100
34/34 - 0s - loss: 19668370.0000 - val_loss: 21777562.0000
Epoch 45/100
34/34 - 0s - loss: 19993242.0000 - val_loss: 23126266.0000
Epoch 46/100
34/34 - 0s - loss: 19936330.0000 - val_loss: 22465788.0000
Epoch 47/100
34/34 - 0s - loss: 21705936.0000 - val_loss: 22108534.0000
Epoch 48/100
34/34 - 0s - loss: 19945834.0000 - val_loss: 22396150.0000
Epoch 49/100
34/34 - 0s - loss: 20293502.0000 - val_loss: 21997100.0000
Epoch 50/100
34/34 - 0s - loss: 19848966.0000 - val_loss: 22016462.0000
Epoch 51/100
34/34 - 0s - loss: 20695080.0000 - val_loss: 22587288.0000
Epoch 52/100
34/34 - 0s - loss: 20026836.0000 - val_loss: 22996606.0000
Epoch 53/100
34/34 - 0s - loss: 19678430.0000 - val_loss: 21982076.0000
Epoch 54/100
34/34 - 0s - loss: 19623036.0000 - val_loss: 23200910.0000
Epoch 55/100
34/34 - 0s - loss: 19998690.0000 - val_loss: 22271592.0000
Epoch 56/100
34/34 - 0s - loss: 20068018.0000 - val_loss: 21983584.0000
Epoch 57/100
34/34 - 0s - loss: 20266954.0000 - val_loss: 21711974.0000
Epoch 58/100
34/34 - 0s - loss: 19849770.0000 - val_loss: 22232168.0000
Epoch 59/100
34/34 - 0s - loss: 19701916.0000 - val_loss: 21845056.0000
Epoch 60/100
34/34 - 0s - loss: 19947098.0000 - val_loss: 21805046.0000
Epoch 61/100
34/34 - 0s - loss: 20137842.0000 - val_loss: 27182348.0000
Epoch 62/100
34/34 - 0s - loss: 22992822.0000 - val_loss: 22180072.0000
Epoch 63/100
34/34 - 0s - loss: 22352908.0000 - val_loss: 21719876.0000
Epoch 64/100
34/34 - 0s - loss: 19726944.0000 - val_loss: 21681144.0000
Epoch 65/100
34/34 - 0s - loss: 20158902.0000 - val_loss: 21686986.0000
Epoch 66/100
34/34 - 0s - loss: 21559452.0000 - val_loss: 23784214.0000
Epoch 67/100
34/34 - 0s - loss: 20829786.0000 - val_loss: 22108034.0000
Epoch 68/100
34/34 - 0s - loss: 19481890.0000 - val_loss: 21897554.0000
Epoch 69/100
34/34 - 0s - loss: 19702076.0000 - val_loss: 21611516.0000
Epoch 70/100
34/34 - 0s - loss: 20240738.0000 - val_loss: 23165092.0000
Epoch 71/100
34/34 - 0s - loss: 20429794.0000 - val_loss: 21726002.0000
Epoch 72/100
34/34 - 0s - loss: 20920590.0000 - val_loss: 24089654.0000
Epoch 73/100
34/34 - 0s - loss: 19835690.0000 - val_loss: 21790762.0000
Epoch 74/100
34/34 - 0s - loss: 19875550.0000 - val_loss: 24790504.0000
Epoch 75/100
34/34 - 0s - loss: 20139674.0000 - val_loss: 21729976.0000
Epoch 76/100
34/34 - 0s - loss: 20009206.0000 - val_loss: 22429066.0000
Epoch 77/100
34/34 - 0s - loss: 19519938.0000 - val_loss: 21995854.0000
Epoch 78/100
34/34 - 0s - loss: 19932064.0000 - val_loss: 22242578.0000
Epoch 79/100
34/34 - 0s - loss: 19971106.0000 - val_loss: 21895212.0000
Epoch 80/100
34/34 - 0s - loss: 19696830.0000 - val_loss: 25729002.0000
Epoch 81/100
34/34 - 0s - loss: 25131706.0000 - val_loss: 22903920.0000
Epoch 82/100
34/34 - 0s - loss: 21283106.0000 - val_loss: 23062134.0000
Epoch 83/100
34/34 - 0s - loss: 22011342.0000 - val_loss: 21707688.0000
Epoch 84/100
34/34 - 0s - loss: 20142692.0000 - val_loss: 22329650.0000
Epoch 85/100
34/34 - 0s - loss: 20261538.0000 - val_loss: 22037622.0000
Epoch 86/100
34/34 - 0s - loss: 20064956.0000 - val_loss: 21696516.0000
Epoch 87/100
34/34 - 0s - loss: 19624752.0000 - val_loss: 21628510.0000
Epoch 88/100
34/34 - 0s - loss: 19862702.0000 - val_loss: 21735702.0000
Epoch 89/100
34/34 - 0s - loss: 20345998.0000 - val_loss: 21724010.0000
Epoch 90/100
34/34 - 0s - loss: 20661004.0000 - val_loss: 22202586.0000
Epoch 91/100
34/34 - 0s - loss: 19824402.0000 - val_loss: 21905080.0000
Epoch 92/100
34/34 - 0s - loss: 20182608.0000 - val_loss: 21714656.0000
Epoch 93/100
34/34 - 0s - loss: 19503082.0000 - val_loss: 21800214.0000
Epoch 94/100
34/34 - 0s - loss: 20586190.0000 - val_loss: 23733818.0000
Epoch 95/100
34/34 - 0s - loss: 20238380.0000 - val_loss: 21703006.0000
Epoch 96/100
34/34 - 0s - loss: 19448186.0000 - val_loss: 22649264.0000
Epoch 97/100
34/34 - 0s - loss: 19769528.0000 - val_loss: 21643552.0000
Epoch 98/100
34/34 - 0s - loss: 19784058.0000 - val_loss: 25074138.0000
Epoch 99/100
34/34 - 0s - loss: 19655076.0000 - val_loss: 24014156.0000
Epoch 100/100
34/34 - 0s - loss: 21069826.0000 - val_loss: 23053822.0000

In [135]:
predictions = model.predict(df_x)
predictions

array([[18360.213 ],
       [ 4122.219 ],
       [ 6942.085 ],
       ...,
       [ 3928.2556],
       [ 3858.1956],
       [34018.47  ]], dtype=float32)

In [129]:
df_y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [130]:
from keras.metrics import RootMeanSquaredError

In [131]:
m = RootMeanSquaredError()
m.update_state(predictions, df_y)

In [132]:
m.result().numpy()

4566.7876

In [52]:
df_y.shape, predictions.shape

((1338,), (1338, 1))